body{
	margin: 0;
	padding: 0;
}

.container{
	text-align: center;
	margin-top: 3600px;
}

.btn{
	border: 1px solid #3498db;
	background: red;
	padding: 16px 21px;
	font-size: 50px;
	font-family: "montserrat";
	cursor: pointer;
	margin: 10px;
	transition: 0.8s;
	position: relative;
	overflow: hidden;
}

.btn1, .btn2{
	color: #3498db;
}

.btn3, .btn4{
	color: #fff;
}

.btn1:hover,.btn2:hover{
	color: #fff;
}

.btn3:hover,.btn4:hover{
	color: #3498db;
}

