#box-container{ 
  position: relative;
  width: 1920px;
  height: 1080px;  
}

.img {
    width: 1920px;
    height: 1080px;
}

.button {
  background-color: #f44336; /* Red *#f44336*/
  border: solid black;
  color: white;
  height: 64px;
  width: 64px;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
}
.button1 {
  background-color: #f44336; /* Red */
  border: none;
  color: white;
  height: 64px;
  width: 64px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
}

.button1:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.button:hover {
  background-color: #636362;
}

.hide{
  display:none;
}
.show{
  display:block;
}